<div class="speaker">

	<div 	class="img" 
				[ngStyle]="{
					'background-image': 'url(../assets/speakers_imgs/' + speaker?.photo + ')',
					'background-position': 'center center',
					'background-repeat': 'no-repeat',
					'background-size': 'cover'
				}"></div>

	<div class="name fname">{{ isEnLang ? speaker?.first_name_en : speaker?.first_name_ru }}</div>
	<div class="name jname">{{ isEnLang ? speaker?.last_name_en : speaker?.last_name_ru }}</div>
	<div class="position">{{ isEnLang ? speaker?.position_en : speaker?.position_ru }}</div>

	<div class="info" [innerHTML]="isEnLang ? speaker?.info_en : speaker?.info_ru"></div>

	<button class="btn-common" [routerLink]="['/speakers']" [queryParams]="{ guid: speaker?.guid }" mat-button>
		{{ isEnLang ? 'To speakers list' : 'К списку спикеров' }}
	</button>

</div>