<div class="nav">
	<button class="btn btn-common" [routerLink]="['/agenda']" routerLinkActive="active" mat-button>
		{{ isEnLang ? 'Agenda' : 'Программа' }}
	</button>

	<button class="btn btn-common" [routerLink]="['/speakers']" routerLinkActive="active" mat-button>
		{{ isEnLang ? 'Speakers' : 'Спикеры' }}
	</button>

	<div class="toggler-lang-area">
		<mat-slide-toggle class="toggler-lang" (click)="toggleLang()" [(ngModel)]="isEnLang"></mat-slide-toggle>	
	</div>
</div>

<div class="content" id="content">
	<router-outlet></router-outlet>
</div>

