@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.bg-primary{
	background: blue;
}

.btn-common{
	background: blue;
	color: #fff !important;
}

body{
	padding: 0;
	margin: 0;
}

.mat-slide-toggle-thumb{
	background: url('./assets/icons/ru.png') center center no-repeat;
	background-size: cover;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
	background: url('./assets/icons/en.png') center center no-repeat;
	background-size: cover;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(0,0,0,.38);
}
.mat-slide-toggle-bar {
    background-color: rgba(0,0,0,.38);
}